.navContainer {
    background-color: darkgrey;
}
.checkout_header_icon {
  width: 100px;
  height:  100px;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  color: #ffffff;
  font-size: 54px;
  text-shadow: 0px 0px 20px #6abcea, 0px 5px 20px #6ABCEA;
  opacity: .85;
}
